spring.application.name=trading-app
spring.datasource.url=jdbc:postgresql://localhost:5432/trading_db
spring.datasource.username=user
spring.datasource.password=password
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
APPLICATION_URL=http://localhost:8080
coinmarketcapApiKey=xxxxxx-xxxxxx-xxxxxx-xxxxxx
coinmarketcapUri=https://pro-api.coinmarketcap.com